/* Screen size */
$container-width: 1180;

/* Breakpoints */
$max-width: 1280;
$laptop-width: 1072;
$tablet-width: 768;
$mobile-width: 425;
$min-width: 360;

/* Colors */
$main-color: #731c00;
$light-color: #ffffff;
$accent-color: #dd7f4a;
$bright-color: #d25e39;
$form-color: #dc9f8c;
$background-color: #fffbf4;
$geometry-success: #ffa800;
$geometry-danger: #dd7f4a;
