.about {
  padding: adaptive-value(129, 114) 0 $section-padding 0;
  overflow: hidden;
  position: relative;

  #about1 {
    width: adaptive-value(1115, 800);
    top: adaptive-value(200, 200);
    right: adaptive-value(-160, -150);
    transform: translate(50%, -50%);

    @include desktop {
      right: adaptive-value(-350, -200, $four-k-width, $desktop-width);
    }
  }

  #about2 {
    width: adaptive-value(945, 700);
    top: adaptive-value(300, 300, $max-width, $tablet-width);
    left: adaptive-value(0, -5);
    transform: translate(-50%, -50%);

    @include tablet {
      top: adaptive-value(675, 650, $tablet-width - 1, $min-width);
    }

    @include desktop {
      left: adaptive-value(0, 75, $four-k-width, $desktop-width);
    }
  }

  &__content {
    display: grid;
    grid-template-areas:
      "title photo"
      "description photo"
      "sign-up photo";
    column-gap: adaptive-value(30, 10);

    @include tablet {
      grid-template-areas:
        "title"
        "photo"
        "description"
        "sign-up";
    }
  }

  &__title {
    grid-area: title;
    font-weight: 600;
    margin: 0 0 adaptive-value(25, 15) 0;
  }

  &__subheading {
    font-size: adaptive-value(30, 22);
    color: $accent-color;
    margin: 0 0 5px 0;
  }

  &__heading {
    font-size: adaptive-value(60, 40);
    text-transform: uppercase;
  }

  &__description {
    grid-area: description;
    font-size: adaptive-value(16, 14);
    font-weight: 500;
    margin: 0 0 adaptive-value(40, 30) 0;
  }

  &__photo {
    grid-area: photo;
    margin: 0 0 15px 0;

    @include tablet {
      max-height: 400px;
    }

    @include mobile {
      max-height: 350px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include tablet {
        object-position: 0 adaptive-value(-100, -50, 767, 424);
      }

      @media (max-width: 330px) {
        object-position: center;
      }
    }
  }

  &__sign-up {
    grid-area: sign-up;
  }
}
