.section-title {
  font-size: adaptive-value(35, 25);
  font-weight: 600;
  color: $accent-color;
  text-align: center;
  margin: 0 0 adaptive-value(50, 25) 0;
}

.sign-up {
  &__btn {
    display: inline-block;
    font-size: adaptive-value(16, 15);
    color: $light-color;
    font-weight: 600;
    background-color: $accent-color;
    padding: 15px adaptive-value(30, 16);
    margin: 2px;
    transition:
      color 0.2s,
      background-color 0.2s;
    @media (hover: hover) {
      &:hover {
        color: $accent-color;
        background-color: $light-color;
        border: 2px solid $accent-color;
        margin: 0;
      }
    }
  }
}
