.education {
  &__content {
  }

  &__title {
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: adaptive-value(35, 25);
  }

  &__item {
    font-size: adaptive-value(16, 14);
    flex: 0 1 48%;

    @include tablet {
      flex: 1 1 auto;
    }

    &_more {
      text-decoration: underline;
      font-weight: 500;

      @include tablet {
        text-align: center;
      }
    }
  }
}

.edu-slider {
  margin: 0 auto;
  max-width: 800px;
  user-select: none;

  @include tablet {
    margin: 0 -15px 0;
  }

  &__diplom {
    text-align: center;
    transform: scale(0.8);

    & img {
      display: block;
      width: 100%;
    }
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    color: $main-color;
  }

  .swiper-pagination-bullet {
    background-color: $main-color;
    gap: 100px;
  }
}

:root {
  --swiper-pagination-bottom: 0;
  --swiper-pagination-bullet-size: 13px;
  --swiper-pagination-bullet-horizontal-gap: 8px;

  @include tablet {
    --swiper-pagination-bullet-size: 10px;
    --swiper-pagination-bullet-horizontal-gap: 7px;
    --swiper-navigation-size: 30px;
  }

  @include mobile {
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
    --swiper-navigation-size: 25px;
  }
}
