.education {
  padding: $section-padding 0 $section-padding 0;
  overflow: hidden;
  position: relative;

  #education1 {
    width: adaptive-value(1000, 900);
    top: adaptive-value(400, 350);
    left: adaptive-value(0, -50);
    transform: translate(-50%, -50%);

    @include desktop {
      left: adaptive-value(-150, -50, $four-k-width, $desktop-width);
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: adaptive-value(35, 15);
  }

  &__item {
    font-size: adaptive-value(16, 14);
    flex: 0 1 48%;

    @include tablet {
      flex: 1 1 auto;

      &_1 {
        order: -2;
      }

      &_2 {
        order: -1;
      }
    }

    &_more {
      flex: 1 1 auto;
      text-align: center;
    }
  }

  &__more {
    text-decoration: underline;
    font-weight: 500;
  }
}

.edu-slider {
  margin: 0 auto;
  max-width: 800px;
  user-select: none;

  @include tablet {
    margin: 0 -15px 0;
  }

  &__diplom {
    display: flex;
    justify-content: center;
    transform: scale(0.85);
    height: adaptive-value(500, 300);

    img {
      display: block;
      max-width: 100%;
      height: 100%;
      object-fit: contain;
    }

    picture {
      display: flex;
      justify-content: center;
    }
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    color: $main-color;
  }

  .swiper-pagination-bullet {
    background-color: $main-color;
    gap: 100px;
  }
}

:root {
  --swiper-pagination-bottom: 0;
  --swiper-pagination-bullet-size: 13px;
  --swiper-pagination-bullet-horizontal-gap: 8px;

  @include tablet {
    --swiper-pagination-bullet-size: 10px;
    --swiper-pagination-bullet-horizontal-gap: 7px;
    --swiper-navigation-size: 30px;
  }

  @include mobile {
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
    --swiper-navigation-size: 25px;
  }
}

.modal {
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
  overflow-y: auto;
  overflow-x: hidden;

  &.modal-active {
    opacity: 1;
    visibility: visible;

    .modal__content {
      opacity: 1;
    }
  }

  &__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
  }

  &__content {
    background-color: $background-color;
    max-width: adaptive-value(700, 400);
    padding: adaptive-value(38, 28) adaptive-value(35, 25);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: all 0.3s ease 0s;
  }

  &__close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: adaptive-value(29, 14);
    right: adaptive-value(29, 14);

    span {
      position: relative;
      width: 100%;
      height: 100%;
      display: inline-block;
    }

    span::before,
    span::after {
      content: "";
      background-color: $main-color;
      width: 100%;
      height: 3px;
      position: absolute;
      border-radius: 4px;
      top: 50%;
      left: 0;
    }

    span::before {
      transform: translate(0, -50%) rotate(45deg);
    }

    span::after {
      transform: translate(0, -50%) rotate(-45deg);
    }
  }

  &__title {
    font-size: adaptive-value(30, 20);

    @media (max-width: 490px) {
      width: 200px;
    }
  }

  &__text {
    font-size: adaptive-value(16, 13);

    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.icon {
  &_buttons-close-btn {
    fill: $main-color;
  }
}
