.sign-up {
  &__btn {
    display: inline-block;
    font-size: adaptive-value(16, 15);
    color: $light-color;
    font-weight: 600;
    background-color: $accent-color;
    padding: 15px adaptive-value(30, 16);
  }
}
