.topics {
  padding: $section-padding 0 $section-padding 0;
  overflow: hidden;
  position: relative;

  #topics1 {
    width: 1091px;
    height: 843px;
    bottom: adaptive-value(300, 300);
    right: adaptive-value(-50, -150);
    transform: translate(50%, 50%);
  }

  &__list {
    margin: 0 0 adaptive-value(50, 20) 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: adaptive-value(45, 20);

    @include tablet {
      justify-content: center;
    }
  }

  &__item {
    flex: 0 1 48%;

    @include tablet {
      flex: 1 1 auto;
    }
  }

  &__sign-up {
    text-align: center;
  }
}

.topic {
  display: flex;
  column-gap: adaptive-value(22, 10);

  &__icon {
    max-width: adaptive-value(48, 32);
    max-height: adaptive-value(48, 32);
    min-width: adaptive-value(48, 32);
    user-select: none;
  }

  &__title {
    font-size: adaptive-value(16, 14);
    font-weight: 600;
    margin: 0 0 9px 0;
  }

  &__content {
    font-size: adaptive-value(16, 14);
    font-weight: 400;
  }
}

.icon_topics {
  &-puzzles {
    fill: $main-color;
  }

  &-tree {
    fill: $main-color;
  }

  &-people {
    stroke: $main-color;
  }

  &-masks {
    stroke: $main-color;
  }

  &-dna {
    stroke: $main-color;
  }

  &-magnifier {
    fill: $main-color;
    scale: 0.9;
  }
}
