@import "./**/*.scss";

body {
  font-family: "Montserrat", sans-serif;
  color: $main-color;
  background-color: $background-color;
}

.container {
  max-width: #{$container-width + px};
  margin: 0 auto;
  padding: 0 10px;
}
